# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# ===============================
# IDE / Editor
# ===============================
.idea/
.vscode/

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Machine Learning / RL
# ===============================
*.pth
*.pt
*.ckpt

# ===============================
# Logs & videos
# ===============================
*.log
videos/
recordings/

# ===============================
# Notes / Personal files
# ===============================
*.one
*.onetoc2

# ===============================
# Gym / Temp
# ===============================
gym_video/
tmp/
